[Unit]
Description=AdaptivePi Hello Application

[Service]
Type=oneshot
ExecStart=/usr/bin/hello-adaptive
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target